* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #457B9D;
}

/*header*/
header {
  background-color: #1D3557;
}
header .logo {
  display: none;
}
header #btn_menu {
  display: none;
}
header label {
  display: none;
}
header label:hover {
  cursor: pointer;
}
header .menu {
  display: flex;
  justify-content: space-between;
}
header .menu h1 {
  text-align: center;
  align-items: center;
  color: white;
  border-radius: 100px;
  padding: 10px;
}
header .menu a img {
  width: 100px;
  height: 100px;
  background-color: #E63946;
  border-radius: 50%;
}
header .menu a img:hover {
  transform: rotate(360deg);
  transition: 2s;
}
header .menu ul {
  display: flex;
  justify-content: center;
}
header .menu ul .list:hover {
  transform: scale(1.2);
}
header .menu ul .list {
  text-decoration: none;
  list-style-type: none;
  margin: 20px 10px;
}
header .menu ul .list img {
  width: 100px;
}
header .menu ul .list a {
  color: white;
  align-items: center;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  border: #E63946 solid 2px;
  padding: 10px;
  border-radius: 100px;
}

/*main*/
main {
  /*index*/
}
main .banner {
  height: 450px;
  background-image: url(./../assets/banner.jpg);
  background-size: cover;
  background-position: center;
  margin: 50px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner .banner-text {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .banner .banner-text a {
  text-decoration: none;
  background-color: #E63946;
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 30px;
  width: 120px;
  color: white;
}
main .banner .banner-text:hover {
  transform: scale(1.2);
}
main section {
  display: flex;
}
main section div {
  color: white;
  padding: 0px;
}
main section div .object {
  width: 300px;
  height: 300px;
  margin: 20px;
}
main section div .object:hover {
  transform: scale(1.2);
}
main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
main .container .map-text {
  background-color: #E63946;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-large;
  color: white;
  border-radius: 50px;
  padding: 5px;
  margin-top: 50px;
}
main .container .map {
  display: flex;
  padding: 50px;
  margin: 10px;
  background-color: #E63946;
}

#contenedor {
  background-color: #1D3557;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  flex-wrap: wrap;
  margin: 50px;
}
#contenedor .card1 {
  margin-top: 50px;
  padding: 40px;
  width: 250px;
  height: 250px;
  margin: 0 50px 50px 50px;
  background-color: #E63946;
  text-align: center;
}

#btn {
  display: none;
}

#btn:checked ~ .section {
  visibility: visible;
}

#btn1:hover {
  cursor: pointer;
}

#btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  text-align: none;
}
#btn1 lord-icon {
  position: relative;
}

.section {
  position: absolute;
  background-color: #E63946;
  visibility: hidden;
  width: 90%;
  display: flex;
  text-align: center;
  align-items: center;
}

#btn2 {
  display: none;
}

#btn2:checked ~ .section {
  visibility: visible;
}

#btn3:hover {
  cursor: pointer;
}

#btn3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  text-align: none;
}
#btn3 lord-icon {
  position: relative;
}

#btn4 {
  display: none;
}

#btn4:checked ~ .section {
  visibility: visible;
}

#btn5:hover {
  cursor: pointer;
}

#btn5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  text-align: none;
}
#btn5 lord-icon {
  position: relative;
}

#btn6 {
  display: none;
}

#btn6:checked ~ .section {
  visibility: visible;
}

#btn7:hover {
  cursor: pointer;
}

#btn7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  text-align: none;
}
#btn7 lord-icon {
  position: relative;
}

#btn-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 20px;
  text-align: center;
  width: 250px;
  align-items: center;
}

#btn-menu1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
  text-align: center;
  width: 250px;
  margin-left: 20px;
  align-items: center;
}

#btn-menu2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
  text-align: center;
  width: 250px;
  margin-left: 20px;
  align-items: center;
}

#btn-menu3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
  text-align: center;
  width: 250px;
  margin-left: 20px;
  align-items: center;
}

/*footer*/
footer {
  display: flex;
  justify-content: center;
}
footer .redes {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  display: flex;
  list-style: none;
  background-color: #E63946;
  justify-content: space-between;
}
footer .redes img {
  width: 50px;
  height: 50px;
}
footer .redes:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a .logo {
    display: block;
    width: 70px;
    margin-left: 25px;
    background-color: #E63946;
    border-radius: 100px;
  }
  header #btn_menu:checked ~ .menu {
    visibility: visible;
  }
  header label {
    display: block;
    position: relative;
    margin-right: 25px;
  }
  header label img {
    width: 50px;
  }
  header .menu {
    position: absolute;
    top: 70px;
    flex-direction: column;
    background-color: #1D3557;
    visibility: hidden;
    width: 100vw;
  }
  header .menu h1 {
    display: none;
  }
  header .menu a img {
    display: none;
  }
  header .menu ul {
    flex-direction: column;
  }
  header .menu ul .list {
    align-items: center;
    text-align: center;
    list-style: none;
    height: 20px;
  }
  main .banner {
    display: flex;
    margin: 100px 20px;
    padding: 70px;
    height: 100%;
  }
  main section {
    display: flex;
    margin-top: 110px;
    flex-direction: column;
  }
  main section div {
    color: white;
    padding: 0px;
  }
  main section div .object {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 70px;
  }
  main section #contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
    margin: 50px;
    text-align: center;
    align-items: center;
  }
  main section #contenedor .card1 {
    padding: 40px;
    width: 250px;
    height: 250px;
    margin: 0;
    border-color: aliceblue;
    border: 10px;
    background-color: #E63946;
    background-size: cover;
    background-position: left;
    text-align: center;
  }
  main section .container {
    flex-direction: column;
  }
  main section .container .map {
    height: 350px;
    width: 300px;
    margin: 0;
    padding: 0;
    background-color: #E63946;
    padding: 10px;
  }
  main section .container .map-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    color: white;
    border-radius: 50px;
    padding: 5px;
    margin-bottom: 20px;
  }
  main #btn-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
    text-align: center;
    width: 250px;
    align-items: center;
  }
  main #btn-menu div #btn {
    display: none;
  }
  main #btn-menu div #btn:checked ~ .section {
    visibility: visible;
  }
  main #btn-menu div #btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #btn-menu div #btn1 lord-icon {
    position: relative;
    display: none;
  }
  main #btn-menu div #btn1:hover {
    cursor: pointer;
  }
  main #btn-menu div .section {
    position: absolute;
    background-color: #E63946;
    visibility: hidden;
    width: 90vw;
    display: flex;
    text-align: center;
    align-items: center;
  }
  main #btn-menu1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 400px;
    text-align: center;
    width: 250px;
    align-items: center;
  }
  main #btn-menu1 div #btn2 {
    display: none;
  }
  main #btn-menu1 div #btn2:checked ~ .section {
    visibility: visible;
  }
  main #btn-menu1 div #btn3:hover {
    cursor: pointer;
  }
  main #btn-menu1 div #btn3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #btn-menu1 div #btn3 lord-icon {
    position: relative;
    display: none;
  }
  main #btn-menu2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 400px;
    text-align: center;
    width: 250px;
    align-items: center;
  }
  main #btn-menu2 div #btn4 {
    display: none;
  }
  main #btn-menu2 div #btn4:checked ~ .section {
    visibility: visible;
  }
  main #btn-menu2 div #btn5:hover {
    cursor: pointer;
  }
  main #btn-menu2 div #btn5 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #btn-menu2 div #btn5 lord-icon {
    position: relative;
    display: none;
  }
  main #btn-menu3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 400px;
    text-align: center;
    width: 250px;
    align-items: center;
  }
  main #btn-menu3 div #btn6 {
    display: none;
  }
  main #btn-menu3 div #btn6:checked ~ .section {
    visibility: visible;
  }
  main #btn-menu3 div #btn7:hover {
    cursor: pointer;
  }
  main #btn-menu3 div #btn7 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #btn-menu3 div #btn7 lord-icon {
    position: relative;
    display: none;
  }
  footer .redes {
    margin-top: 400px;
    width: 200px;
    height: 50px;
    display: flex;
    list-style: none;
    background-color: #E63946;
    justify-content: space-between;
  }
  footer .redes img {
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
