/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
/* header */

header{
    
    background: #FFE000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
header .menu{
    
    
    
}
header .menu ul{
    display: flex;
    justify-content: space-evenly;
    

    
    
}
header .menu h1{
    text-align: center;
    align-items: center;
    color: white;
}
header .menu ul .list a{
    
    color: white;
    align-items: center;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 50px;
    border-radius: 50px;
    
    
    
}
header .menu ul .list{
    text-decoration: none;
    list-style-type: none;
    margin: 20px 50px;
     
    
}
header .menu ul .list img{
    width: 100px;
    
    
}
/*header grid*/
.layout .header .logo{
    display: none;
}

.layout .header .list img{
    width: 100px;
}
.layout .header #btn_menu{
    display: none;
}
.layout .header label{
    display: none;
}
.layout .header label:hover{
    cursor: pointer;
}
.layout .header{
    background: #FFE000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100vw;

}
.layout .header .menu ul{
    display: flex;
    justify-content: space-evenly;
    
    
}
.layout .header .menu ul .list {
    text-decoration: none;
    list-style-type: none;
    margin: 20px 50px;
    
}
.layout .header .menu ul .list img{
    width: 100px;
    
}
.layout .header .menu h1{
    text-align: center;
    align-items: center;
    color: white;
}
.layout .header .menu ul .list a{
    color: white;
    align-items: center;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 50px;
    border-radius: 50px;
    
    
}
header .logo{
    display: none;
}

header .list img{
    width: 100px;
}
header #btn_menu{
    display: none;
}
header label{
    display: none;
}
header label:hover{
    cursor: pointer;
}


/*main*/
.banner{
    height: 450px;
    background-image: url(./../assets/banner.jpg);
    background-size: cover;
    background-position: center;
    margin:50px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.banner-text{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
    
}
.banner-text:hover{
    transform: scale(1.2);
    
    
}

.banner .banner-text a{
    text-decoration: none;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 30px;
    width: 120px;
    color: white;
    
    
    
}
/*ubicacion main*/

main section div .map{
    display: flex;
    padding: 50px;
    margin: 10px;
    background: #F7971E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    

}
.map-text{
    background: #F7971E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    color: white;
    border-radius: 50px;
    padding: 5px;
    margin-top: 50px;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
/*productos main*/
.layout .main{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top:50px ;
}
.layout .main .body-grid{
    width: 200px;
    height: 200px;
}
.layout .main .body-grid img{
    width: 200px;
    height: 200px;
}
/*productos grid*/
.layout {
    width: 1366px;
    height: 768px;

    display: grid;
    grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
    gap: 8px;
}

    .header { grid-area: header; }
    .main { grid-area: main; }
    .footer { grid-area: footer; }

/*contacto main*/
#contenedor{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
    padding: 10px;
    flex-wrap: wrap;
    margin: 50px;
    
    

    
}
.card1{
    
    padding: 40px;
    width: 250px;
    height: 250px;
    margin:  0 50px 50px 50px;
    background: #FFE000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: left;
    
    
    
    
    
    text-align: center;
}
/*ayuda*/

main #btn{
    display: none;
}

main #btn1:hover{
    cursor: pointer;
}

main #btn1 lord-icon{
    position: relative;
    /* display: flex; */
    
}

main .section{
    position:absolute;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    visibility: hidden;
    width: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    
}

#btn:checked~.section{
    visibility: visible;
}

/* paso a paso */
main #btn2{
    display: none;
}

main #btn3:hover{
    cursor: pointer;
}

main #btn3 lord-icon{
    position: relative;
    
    
}

#btn2:checked~.section{
    visibility: visible;
}

/*envios*/
main #btn4{
    display: none;
}

main #btn5:hover{
    cursor: pointer;
}

main #btn5 lord-icon{
    position: relative;
    
    
}

#btn4:checked~.section{
    visibility: visible;

}

/*metodos de pago*/
main #btn6{
    display: none;
}

main #btn7:hover{
    cursor: pointer;
}

main #btn7 lord-icon{
    position: relative;
    
    
}

#btn6:checked~.section{
    visibility: visible;
    
}

/* adaptacion de cada btn-menu */
main #btn-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 20px;
    text-align: center;
    width: 250px ;
    align-items: center;
    
}        
#btn1{
display: flex;
justify-content: center;
align-items: center;   
}

main #btn-menu1{
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin-top:100px;
text-align: center;
width: 250px;
margin-left: 20px;
align-items: center;    
}

#btn3{
display: flex;
justify-content: center;
align-items: center;    
}

main #btn-menu2{
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin-top:100px ;
text-align: center;
width: 250px;
margin-left: 20px;
align-items: center;
}

#btn5{
display: flex;
justify-content: center;
align-items: center;   
}

main #btn-menu3{
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin-top: 100px;
text-align: center;
width:250px ;
margin-left: 20px;
align-items: center;    
}

#btn7{
display: flex;
justify-content: center;
align-items: center;
}

/*footer*/
footer .redes{
    margin-top: 20px;
    width: 15%;
    height: 100%;
    display: flex;
    list-style: none;
    background: #F7971E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    justify-content: space-between;
    
}
footer .redes img{
    width: 50px;
    height: 50px;
}
.layout .footer ol{
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
    


    


@media screen and (max-width: 1200px) and (min-width: 320px){
    /*header general*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .menu h1{
        display: none;
    }
    header nav ul .list{
        align-items: center;
        text-align: center;
        list-style: none;
        height: 80px;
        
        
        
    }
    header .logo{
        display: block;
        width: 70px;
        margin-left: 25px;
        
    }
    
    header #logo-hidden{
        display: none;
    }
    
    header label{
        display: block;
        position: relative;
        margin-right: 25px;
    }
    header label img{
        width: 50px;
        
    }
    header .menu{
        position: absolute;
        top: 70px;
        flex-direction: column;
        background: #FFE000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        visibility: hidden;
        width: 100vw;

    }
    #btn_menu:checked~.menu{
        visibility: visible;
    }
    .menu ul{
        flex-direction:column ;
    }
    header .menu ul .list a img{
        display: none;
    }
    
    /*grid productos hamburguer menu*/
    .layout .header{
        display: flex;
        justify-content: space-between;
        align-items: center;


    }
    .layout .header .menu h1{
        display: none;
    }
    .layout .header .menu ul .list a img{
        display: none;
    }
    .layout .header nav ul .list{
    
        align-items: center;
        text-align: center;
        border-radius: 30px;
        padding: 10px;
        list-style: none;
        height: 80px;
        
    }

    .layout .header .logo{
        display: block;
        width: 70px;
        margin-left: 25px;
    }
    .layout .header #logo-hidden{
        display: none;
    }
    .layout .header #logo-hidden{
        display: none;
    }
    .layout .header label{
        display: block;
        position: relative;
        margin-right: 20px;
    }
    .layout .header label img{
        width: 50px;
    }
    .layout .header .menu{
        position: absolute;
        top: 70px;
        flex-direction: column;
        background: #FFE000;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        visibility: hidden;
        width: 100vw;
    }
    #btn_menu:checked~.menu{
        visibility: visible;
    }
    .menu ul{
        flex-direction: column;
    }
        /*main*/
        /*index*/
    .banner{
        display: flex;
        margin: 100px 20px;
        padding:70px ;
        height: 100%;
    }
    /*productos*/


    .layout .main{
        display: flex;
        gap: 30px;
        flex-direction: column;
        margin-top:50px ;
        text-align: center;
        align-items: center;
    }
    .layout .main .body-grid{
        width: 200px;
        height: 200px;
    }
    .layout .main .body-grid img{
        width: 100px;
        height: 100px;
    }
    /*productos grid*/
    .layout {
        width: 320px;
        height: 768px;
        display: grid;
        grid:
        "header" auto
        "main" 1fr
        "footer" auto
        / 1fr;
        gap: 8px;
    }
        
    .header { grid-area: header; }
    .main { grid-area: main; }
    .footer { grid-area: footer; }
    /*main ubicaciones*/
    main section {
        display: flex;
        margin-top: 110px;
    }
    main section .container{
        flex-direction: column;
    }
    main section .container .map{
        height: auto;
        width: 300px;
        margin: 0;
        padding: 0;
        background-color: #799F0C;
        padding: 10px;
    }
    main section .container .map-text{
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: x-large;
        color: white;
        border-radius: 50px;
        padding: 5px;
        margin-bottom: 20px;
}
    /*ayuda main*/
    main #btn{
        display: none;
    }
    
    main #btn1:hover{
        cursor: pointer;
    }
    
    main #btn1 lord-icon{
        position: relative;
        /* display: flex; */
        
    }
    
    main .section{
        position:absolute;
        background: #FFE000;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        visibility: hidden;
        width: 90vw;
        display: flex;
        text-align: center;
        align-items: center;
        
    }
    
    #btn:checked~.section{
        visibility: visible;
    }
    
    /* paso a paso */
    main #btn2{
        display: none;
    }
    
    main #btn3:hover{
        cursor: pointer;
    }
    
    main #btn3 lord-icon{
        position: relative;
        
        
    }
    
    #btn2:checked~.section{
        visibility: visible;
    }
    
    /*envios*/
    main #btn4{
        display: none;
    }
    
    main #btn5:hover{
        cursor: pointer;
    }
    
    main #btn5 lord-icon{
        position: relative;
        
        
    }
    
    #btn4:checked~.section{
        visibility: visible;
    
    }
    
    /*metodos de pago*/
    main #btn6{
        display: none;
    }
    
    main #btn7:hover{
        cursor: pointer;
    }
    
    main #btn7 lord-icon{
        position: relative;
        
        
    }
    
    #btn6:checked~.section{
        visibility: visible;
        
    }
    
    /* adaptacion de cada btn-menu */
    main #btn-menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 100px;
        text-align: center;
        width: 250px ;
        align-items: center;
        
    }        
    #btn1{
    display: flex;
    justify-content: center;
    align-items: center;   
    }
    
    main #btn-menu1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:100px;
    text-align: center;
    width: 250px;
    
    align-items: center;    
    }
    
    #btn3{
    display: flex;
    justify-content: center;
    align-items: center;    
    }
    
    main #btn-menu2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:100px ;
    text-align: center;
    width: 250px;
    align-items: center;
    }
    
    #btn5{
    display: flex;
    justify-content: center;
    align-items: center;  
    
    }
    
    main #btn-menu3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 100px;
    text-align: center;
    width:50px ;
    align-items: center; 
    
    }
    
    #btn7{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    section div lord-icon{
        display: none;
    }
    /*contacto main*/
    #contenedor{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly ;
        padding: 10px;
        flex-wrap: wrap;
        margin: 50px;
        text-align: center;
        align-items: center;
        
        
    
        
    }
    .card1{
        
        padding: 40px;
        width: 250px;
        height: 250px;
        margin:  0 ;
        border-color: aliceblue;
        border: 10px;
        background: #FFE000;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-position: left;
        text-align: center;
        
    }
    /*footer*/
    footer .redes{
        margin-top: 100px;
        width: 200px;
        height: 100%;
        display: flex;
        list-style: none;
        background: #F7971E;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        justify-content: space-between;
        
    }
    footer .redes img{
        width: 50px;
        height: 50px;
    }
    .layout .footer ol{
        background: #F7971E;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}
    



