*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: #457B9D;
}
@import "mixin";
@import"variables";
@import "_header";
/*main*/
main{
    /*index*/
    .banner{
        height: 450px;
        background-image: url(./../assets/banner.jpg);
        background-size: cover;
        background-position: center;
        margin:50px 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        .banner-text{
            font-size: 25px;
            display: flex;
            flex-direction: column;
            text-align: center;
            a{
                text-decoration: none;
                background-color:$colorprincipal;
                padding: 10px;
                font-size: 20px;
                margin-top: 20px;
                border-radius: 30px;
                width: 120px;
                color: white;
            }
        }
        .banner-text:hover{
            transform: scale(1.2);
        }
    }
    section{
        display: flex;
        div{
            
            color: white; 
            padding: 0px;
            .object{
                width: 300px; 
                height: 300px;
                margin: 20px;
                
            }
            .object:hover{
                transform: scale(1.2);
                
                
            }
        }
            
        }
        .container{

            @include flex(center, center, column, center);
            // display: flex;
            // justify-content: center;
            // text-align: center;
            // align-items: center;
            // flex-direction: column;
            .map-text{
                background-color: $colorprincipal;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: x-large;
                color: white;
                border-radius: 50px;
                padding: 5px;
                margin-top: 50px;
            }
            .map{
                display: flex;
                padding: 50px;
                margin: 10px;
                background-color:$colorprincipal;
            }
        }
    }
    #contenedor{
        background-color:#1D3557; 
        display: flex;
        flex-direction: row;
        justify-content:space-evenly ;
        padding: 10px;
        flex-wrap: wrap;
        margin: 50px;
        
        .card1{
            margin-top: 50px;
            padding: 40px;
            width: 250px;
            height: 250px;
            margin:  0 50px 50px 50px;
            background-color: $colorprincipal;
            text-align: center;
        }
    }
    #btn{
        display: none;
    }
    #btn:checked~.section{
        visibility: visible;
    }
    #btn1:hover{
        cursor: pointer;
    }
    #btn1{
        @include flex(center, center, none ,none);
        lord-icon{
            position: relative;
        }
    }
    .section{
        position:absolute;
        background-color: $colorprincipal;
        visibility: hidden;
        width: 90%;
        display: flex;
        text-align: center;
        align-items: center;
    }
    #btn2{
        display: none;
    }
    #btn2:checked~.section{
        visibility: visible;
    }
    #btn3:hover{
        cursor: pointer;
        
    }
    #btn3{
        @include flex(center, center, none ,none);
        // display: flex;
        // justify-content: center;
        // align-items: center;
        lord-icon{
            position: relative;
        }
    }
    #btn4{
        display: none;
    }
    #btn4:checked~.section{
        visibility: visible;
    }
    #btn5:hover{
        cursor: pointer;
    }
    #btn5{
        @include flex(center, center, none ,none);
        lord-icon{
            position: relative;
        }
    } 
    #btn6{
        display: none;
    }
    #btn6:checked~.section{
        visibility: visible;
        
    }
    #btn7:hover{
        cursor: pointer;
    }
    #btn7{
        @include flex(center, center, none ,none);
        lord-icon{
            position: relative;
        }
    }
    #btn-menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 100px;
        margin-left: 20px;
        text-align: center;
        width: 250px ;
        align-items: center;
        
    }   
    #btn-menu1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top:100px;
        text-align: center;
        width: 250px;
        margin-left: 20px;
        align-items: center;    
    }
    #btn-menu2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top:100px ;
        text-align: center;
        width: 250px;
        margin-left: 20px;
        align-items: center;
    }
    #btn-menu3{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 100px;
        text-align: center;
        width:250px ;
        margin-left: 20px;
        align-items: center;    
    }
                
@import "footer";
@import "media";













